    .register-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container label {
    margin-bottom: 5px;
  }
  
  .register-container input,
  .register-container select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  